.hotbar-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.selected > Button {
    background-color: #778899;
    border-color: midnightblue;
    border-width: 2px;
}
