.hotbar-slot {
    justify-content: center;
    align-items: center;
    margin: 4px 4px 0;
    padding: 0;
    width: 32px;
    height: 32px;
}

.hotbar-slot-icon {
    width: 14px;
    height: 14px;
    position: absolute;
}

.label-amount {
    font-size: 7px;
    padding: 0;
    width: 32px;
    margin: 0 4px 4px;
    position: absolute;
    top: 20px;
}
